@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.bg-radial_gradient {
    background: radial-gradient(circle at -20% -20%, #dfe4d4, #dde2d2, #d7ddcb, #ced6c1, #c4cdb6, #b8c3a9, #abb99c, #9faf8f, #94a684, #8b9f7c, #859b76, #839974);
}

.bg__green {
    background-color: rgb(163, 179, 149, 75%);
}